
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;   
    width: 100%;
    /* font-family: 'Mooli', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}

/* <------------------------------------------------- root-colors ---------------------------------------------------------->*/

:root {
   --primary-color: #407BFF;
   --elgent-black: #263238;
   ---elgent-white: #FFFF;
}

/*<------------------------------------------------ navigation-menu -------------------------------------------------------->*/

.nav-bar {
    padding: 1vw 3vw;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid var(---elgent-white);
    transition: .7s ease-in-out;
}

.logo {
    font-size: 1.9rem;
    color: var(--elgent-black);
}

.logo::selection {
    background-color: var(--primary-color);
    color: var(---elgent-white);
}

.nav-ul{
    display: flex;
    gap: 2vw;
}

.nav-ul li {
    list-style: none;
    /* height: 60px; */
}

.nav-ul li a {
    letter-spacing: 2px;
    /* padding: 10px; */
    text-decoration: none;
    color: var(--elgent-black);
    font-size: 1rem;
    font-weight: 900;
    transition: .3s ease-in;
}

.nav-ul li a::selection {
    background-color: var(--primary-color);
    color: var(---elgent-white);
}

.nav-ul li:hover {
    border-radius: 6px;
}

.nav-ul li a:hover {
    color: #407BFF;
}

/* <------------------------------------------------- section-one ---------------------------------------------------------->*/

.section-one {
    background-color: var(---elgent-white);
    display: flex;
    width: 100%;
    height: 150vh;
    height: calc(100% - 60px);
    background-color: var(---elgent-white);
}

.section-one .left {
    width: 50%;
    margin-left: 6vw;
    margin-top: 11vw;
}

.section-one .left h1 {
    font-size: 3vw;
}

.section-one .left h1::selection { 
    background-color: #407BFF;
    color: var(---elgent-white);
}

.section-one .left h1 span{ 
    background-color: #407BFF;
    color: var(---elgent-white);
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 10px;
}

.section-one .left h1 span::selection{ 
    background-color: #263238;
    color: var(---elgent-white);
} 

.section-one .left h2 {
    margin: 2vh 0;
}

.section-one .left h2::selection {
    background-color: #407BFF;
    color: var(---elgent-white);
}


.section-one .left p{ 
    width: 100%;
    font-size: 1.1vw;
    margin: 2vh 0;
    line-height: 3vh;
}

.section-one .left p::selection{ 
    background-color: #407BFF;
    color: var(---elgent-white);
}

.section-one .right {
    width: 50%;
}

.section-one .right img {
    width: 100%;
}

.section-one .left button {
    font-size: 1vw;
    background-color: var(---elgent-white);
    border: 2px solid #407BFF;
    color: var(--elgent-black);
    padding: 1.1vh 1vw;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in;
    font-weight: 600;
    letter-spacing: 1px;
}

.section-one .left button:hover {
    background-color: #407BFF;
    color: var(---elgent-white);
}

/*<------------------------------------------ right and left animation ---------------------------------------------------->*/

.section-one .left {
    transform: translateX(-100%);
    opacity: 0;
    transition: 2s ease;
}

.section-one .right {
    transform: translateX(100%);
    opacity: 0;
    transition: 2s ease;
}

.section-one .animate{
    transform: translateX(0);
    opacity: 1;
}

.animation-gap {
    width: 100%;
    height: 10%;
    /* background-color: antiquewhite; */
}

/* <------------------------------------------------- section-two ---------------------------------------------------------->*/

.section-two {
    margin-bottom: 100px;
    transition: transform .5s;
    animation-name: example;
    animation-duration: 5s;
    background-color: var(---elgent-white);
}

@keyframes example {
    0%   {
        transform: translateY(0);
        opacity: 0;
    }
    25%  {
        opacity: 25%;
    }
    50%  {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}
  

.section-two header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-two header h1{ 
    font-size: 3vw;
}

.section-two header p{ 
    margin-top: 10px;
    font-size: 1vw;
}

.section-two .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 9vw;
}

.section-two .features-list .row-one {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5vw;
    /* background-color: yellowgreen; */
}

.section-two .features-list .row-two {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5vw;
    /* background-color: #263238; */
}

.section-two .features-list .row-three {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5vw;
    /* background-color: antiquewhite; */
}

.section-two .features-list .feature-one {
    position: relative;
    /* background-color: aqua; */
    width: max-content;
    cursor: pointer;
}


.section-two .features-list .feature-two {
    position: relative;
    /* background-color: aqua; */
    width: max-content;
    cursor: pointer;
}

.section-two .features-list .feature-three {
    position: relative;
    /* background-color: aqua; */
    width: max-content;
    cursor: pointer;
}

.section-two .features-list .feature-four {
    position: relative;
    /* background-color: aqua; */
    width: max-content;
    cursor: pointer;
}

.section-two .features-list .feature-five {
    position: relative;
    /* background-color: aqua; */
    width: 30vw;
    margin-left: 6vw;
    cursor: pointer;
}

.section-two .features-list .feature-six {
    position: relative;
    /* background-color: aqua; */
    width: max-content;
    cursor: pointer;
}

.section-two .features-list .feature-seven {
    position: relative;
    /* background-color: aqua; */
    width: max-content;
    cursor: pointer;
}


.section-two .features-list .feature-one img{
    margin-left: 20%;
    margin-bottom: 1vh;
    width: 130px;
}

.section-two .features-list .feature-two img{
    margin-left: 20%;
    margin-bottom: 1vh;
    width: 130px;
}

.section-two .features-list .feature-three img{
    margin-left: 20%;
    margin-bottom: 1vh;
    width: 130px;
}


.section-two .features-list .feature-four img{
    margin-left: 20%;
    margin-bottom: 1vh;
    width: 130px;
}

.section-two .features-list .feature-five img{
    margin-left: 35%;
    margin-bottom: 1vh;
    width: 130px;
}

.section-two .features-list .feature-seven img{
    margin-left: 35%;
    margin-bottom: 1vh;
    width: 130px;
}


.section-two .features-list .feature-six img{
    margin-left: 35%;
    margin-bottom: 1vh;
    width: 130px;
}


.section-two .features-list .feature-five h3{
    margin-left: 9vw;
}

.section-two .features-list .feature-six img{
    margin-left: 20%;
    margin-bottom: 1vh;
}

.section-two .features-list .feature-seven img{
    margin-left: 20%;
    margin-bottom: 1vh;
}


.section-two .features-list img {
    width: 10em;
}

/*<----------------------------------------- section-two animation ------------------------------------------------------->*/

.section-two.animate {
    transform: translateY(-5%);
    transition: .5s;
}


/*----------------------------------------------- sticky nav-bar ----------------------------------------------------------*/


.sticky {
    position: fixed;
    background-color: var(--primary-color);
    z-index: 100000;
    border: 0;
}

.sticky .nav-ul li a{
    color: var(---elgent-white);
}

.sticky .nav-ul li a:hover{
    color: var(--elgent-black);
}


.sticky .logo {
    color: var(---elgent-white);
}


/* <------------------------------------------------- section-three ---------------------------------------------------------->*/

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 1120px;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.2);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-info {
    background-color: #fafafa;
}

.contact-form {
    background-color: var(--primary-color);
    position: relative;
}

.information-facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.information-facebook p { 
    margin-left: 10px;
    margin-top: 15px;
}

.information-facebook img{
    margin-top: 20px;
    width: 60px;
}

.information-twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.information-twitter p { 
    margin-left: 10px;
    margin-top: 15px;
}

.information-twitter img{
    margin-top: 20px;
    width: 60px;
}

.information-playstore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.information-playstore p { 
    margin-left: 10px;
    margin-top: 15px;
}

.information-playstore img{
    margin-top: 20px;
    width: 60px;
}


.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(130deg, transparent 10%, #1951cb);
}

.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
    z-index: 10000;
}

.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact-form::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    transform: rotate(45deg);
    top: 50px;
    left: -12px;
}

form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.text {
    margin-top: 10px;
    line-height: 1.5;
    text-align: 3eft;
}

.title::selection {
    color: var(--primary-color);
    background-color: var(---elgent-white);
}

.info {
    padding: 20px 10px;
}

.input-container {
    position: relative;
    margin: 2.5rem 0;
}


.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 1rem 1.3rem;
    border-radius: 25px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

textarea.input {
    padding: 2rem 1.3rem;
    min-height: 150px;
    resize: none;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 1rem 0.4rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    pointer-events: none;
    z-index: 1000;
    transition: 0.4s;
} 

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.btn {
    padding: 0.79rem 1.2rem;
    background-color: var(---elgent-white);
    border: 2px solid var(---elgent-white);
    color: var(--primary-color);
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    font-size: 17px;
}

.btn:hover {
    background-color: transparent;
    color: var(---elgent-white);
}

.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 1rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
    /* background-color: green; */
}

.input-container span::before, .input-container span::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    background-color: var(--primary-color);
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: .3s;
}

.input-container span::before {
    left: 50%;
}

.input-container span::after {
    right: 50%;
}

.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 1rem;
}

.input-container.focus span::before,
.input-container.focus span::after { 
    width: 50%;
    opacity: 1;
}

.contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
}

.contact-info .title {
    color: var(--primary-color);
}

.contact-info::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    border: 22px solid var(--primary-color);
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}

.big-circle {
    position: absolute;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    left: -10%;
    border: 100px solid var(--primary-color);
    opacity: 0.9;
}

.phone-img {
    position: absolute;
    right: -50px;
    /* opacity: 0.6; */
}

.phone-img img {
    color: var(--primary-color);
    width: 500px;
    filter: saturate(-100);
}


/* <------------------------------------------------- section-four ---------------------------------------------------------->*/

.section-four footer {
    margin-top: 120px;
    display: flex;
    width: 100%;
    height: 30vh;
    background-color: var(--primary-color);
    color: var(---elgent-white);
}

.footer {
    padding: 20px 0;
}

.section-four .logo {
    width: 25%;
    margin-top: 20px;
}
.section-four .about {
    width: 25%;
    margin-top: 20px;
}

.section-four .need-help {
    width: 25%;
    margin-top: 20px;
}

.section-four .useful-links {
    width: 25%;
    margin-top: 20px;
}

.section-four ul li {
    list-style: none;
    margin: 0;
}

.section-four .about ul li { 
    padding: 1vh;
} 


.section-four .need-help ul li { 
    padding: 1vh;
} 

.section-four .useful-links ul li { 
    padding: 1vh;
}


.section-four .about h2{
    margin: 0.5rem;
    font-size: 28px;
    letter-spacing: 1px;
}

.section-four .need-help h2{
    margin: 0.5rem;
    font-size: 28px;
    letter-spacing: 1px;
}
.section-four .useful-links h2{
    margin: 0.5rem;
    font-size: 28px;
    letter-spacing: 1px;
}


.section-four .about ul li a {
    transition: .2s ease-in;
    text-decoration: none;
    color: var(--elgent-black);
    font-size: 1rem;
    letter-spacing: 1px;
}

.section-four .need-help ul li a {
    transition: .2s ease-in;
    text-decoration: none;
    color: var(--elgent-black);
    letter-spacing: 1px;
    font-size: 1rem;
}

.section-four .useful-links ul li a {
    transition: .2s ease-in;
    text-decoration: none;
    color: var(--elgent-black);
    letter-spacing: 1px;
    font-size: 1rem;
}

.section-four .about ul li a:hover { 
    color: var(---elgent-white);
}

.section-four .need-help ul li a:hover { 
    color: var(---elgent-white);
}

.section-four .useful-links ul li a:hover { 
    color: var(---elgent-white);
}

.section-four .about h2{
    position: relative;
    width: max-content;
}

.section-four .about h2::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--elgent-black);
    bottom: -2px;
    left: 0;
    transition: .6s ease-in;
    transform: scale(0,1);
}

.section-four .about h2:hover::after { 
    transform: scale(1,1)
}

.section-four .need-help h2{
    position: relative;
    width: max-content;
}

.section-four .need-help h2::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--elgent-black);
    bottom: -5px;
    left: 0;
    transition: .6s ease-in;
    transform: scale(0,1);
}

.section-four .need-help h2:hover::after { 
    transform: scale(1,1)
}


.section-four .useful-links h2{
    position: relative;
    width: max-content;
}

.section-four .useful-links h2::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--elgent-black);
    bottom: -2px;
    left: 0;
    transition: .6s ease-in;
    transform: scale(0,1);
}

.section-four .useful-links h2:hover::after { 
    transform: scale(1,1)
}

.footer-info {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}

.footer-info p {
    padding: 0 5px;
}


